*{
    margin: 0;
    padding: 09;
    box-sizing: border-box;
}


/* Stili header */
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#row_header h1{
    font-size: 40px;
}
#difficolta{
    font-size: 20px;
    display: inline-block;
}
#difficolta select{
    background-color: rgb(230, 230, 230);
    padding: 1.5px 20px 1.5px 0;
    border-radius: 5px;
}
#play{
    background-color: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
    border-radius: 5px;
}


/* Stili main */
#container_grid{
    background-color: rgb(0, 255, 191);
    height: 88vh;
}
#grid{
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
}





/* Stili footer */
#row_footer{
    position: fixed;
    bottom: 0;
    left: 0;
}